---
title: "Welcome to On The Job."
preheader: "Thank you for signing up on On The Job."
bodyClass: bg-white
---

<x-main>
  <div class="font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="mb-0  text-center bg-[#0B87491A] p-4 py-8">
            <a href="https://apps.onthejob.ng/">
              <img src="https://firebasestorage.googleapis.com/v0/b/onthejob.appspot.com/o/images%2Flogo.svg?alt=media" width="140" alt="OnTheJob" >
            </a>
          </div>

          <table class="w-full ">
            <tr>
              <td class="p-5 sm:px-5 text-base text-slate-700  rounded shadow-sm">

                <div class="sm:my-8 text-center">

                  <h1 class="my-4 mb-8 text-lg sm:leading-8 text-black font-semibold">
                    Welcome to On The Job
                  </h1>
                </div>

                <br>
                <p class="m-0 leading-6 text-neutral">
                  Dear [User's FirstName],
                  <br>
                  <br>

                  Thank you for registering on <a href="https://apps.onthejob.ng/"
                    class="text-underline text-[#0B8749] my-0 w-max mx-auto">
                    onthejob.ng</a> &nbsp;platform. <br> <br>

                  To ensure the security of your account, we kindly request that you validate your email address by
                  clicking on the button below: <br> <br>
                  <x-button href="https://apps.onthejob.ng/" class="bg-primary text-white">
                    Verify email
                  </x-button> <br> <br>


                  Should you encounter any issues or require assistance, please do not hesitate to contact our support
                  team.
                  <br> <br>

                  Best regards, <br><br>
                  OntheJob Team.
                  <br> <br>


                  <x-spacer height="14px" />



                  <x-divider space-y="42px" class="bg-slate-200" />


                <div class="my-12  sm:my-8 mt-5 mb-0 md:mb-0 text-center md:py-0 py-0">
                  <div class="flex items-center justify-start gap-5">
                    <a href="https://apps.onthejob.ng/">
                      <img src="https://firebasestorage.googleapis.com/v0/b/onthejob.appspot.com/o/images%2Ftwitter.svg?alt=media" alt="OnTheJob" class="w-6 h-6">
                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="https://firebasestorage.googleapis.com/v0/b/onthejob.appspot.com/o/images%2Finstagram.svg?alt=media" alt="OnTheJob" class="w-7 h-7">
                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="https://firebasestorage.googleapis.com/v0/b/onthejob.appspot.com/o/images%2Ffacebook.svg?alt=media" alt="OnTheJob" class="w-6 h-6">

                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="https://firebasestorage.googleapis.com/v0/b/onthejob.appspot.com/o/images%2Fmail.svg?alt=media" alt="OnTheJob" class="w-6 h-6">
                    </a>
                  </div>

                  <a href="https://apps.onthejob.ng/" class="text-dark no-underline text-sm block my-5 w-max mr-auto">
                    <p> Terms & Conditions</p>
                  </a>
                  <a href="https://apps.onthejob.ng/" class="text-dark no-underline text-sm block my-0 w-max mr-auto">
                    <p>Privacy Policy</p>
                  </a>
                </div>
              </td>
            </tr>
            <tr class="bg-[#0B87491A]">
              <td class="text-center text-slate-600 text-sm px-6">


                <p class="m-0 py-5 font-[500] text-[#5E5E5E]">
                  Copyright @ <a href="https://apps.onthejob.ng/"
                  class="text-underline text-[#0B8749] my-0 w-max mx-auto">
                  onthejob.ng</a>. All rights reserved.
                </p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
