---
title: "Mentorship Application Status"
preheader: "Mentorship Application Status"
bodyClass: bg-white
---

<x-main>
  <div class="font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="mb-0  text-center bg-[#0B87491A] p-4 py-8">
            <a href="https://apps.onthejob.ng/">
              <img src="images/logo.svg" width="140" alt="Maizzle">
            </a>
          </div>

          <table class="w-full ">
            <tr>
              <td class="p-5 sm:px-5 text-base text-slate-700  rounded shadow-sm">

                <br>
                <p class="m-0 leading-6 text-neutral">
                  Dear [Mentor Name],
                  <br>
                  <br>

                  We're thrilled to inform you that your profile for the onthejob mentorship program has been approved!

                  <br> <br>

                  Your expertise and willingness to share your knowledge will be invaluable to our participants. They
                  are eager to connect with mentors like you who can provide guidance, support, and encouragement as
                  they navigate their career paths.


                  <br> <br>
                  You can now: <br>

                  <br>
                  Review your profile: You can <a href="https://apps.onthejob.ng/"
                    class="text-underline text-[#0B8749] my-0 w-max mx-auto">
                    log in</a> to the platform at any time to review and update your profile
                  information.

                  <br> <br>

                  Connect with mentees: Mentees will soon begin browsing mentor profiles and requesting connections. You
                  will receive notifications when a mentee expresses interest in connecting with you.
                  <br> <br>

                  Access Training (Optional): We are offering an optional mentor orientation session on [date] at
                  [time]. This session will provide you with more information about the program, answer any questions
                  you may have, and help you get the most out of your mentoring experience. You can register for the
                  session here: [link to registration].



                  <br> <br>
                  We appreciate your commitment to being a mentor. Together, we can make a real difference in the lives
                  of our participants.



                  <br> <br>

                  Thank you,
                  <br>
                  The Onthejob Team



                  <x-spacer height="14px" />



                  <x-divider space-y="42px" class="bg-slate-200" />


                <div class="my-12  sm:my-8 mt-5 mb-0 md:mb-0 text-center md:py-0 py-0">
                  <div class="flex items-center justify-start gap-5">
                    <a href="https://apps.onthejob.ng/">
                      <img src="images/twitter.svg" alt="OnTheJob" class="w-6 h-6">
                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="images/instagram.svg" alt="OnTheJob" class="w-7 h-7">
                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="images/facebook.svg" alt="OnTheJob" class="w-6 h-6">
                    </a>
                    <a href="https://apps.onthejob.ng/">
                      <img src="images/mail.svg" alt="OnTheJob" class="w-6 h-6">
                    </a>
                  </div>

                  <a href="https://apps.onthejob.ng/" class="text-dark no-underline text-sm block my-5 w-max mr-auto">
                    <p> Terms & Conditions</p>
                  </a>
                  <a href="https://apps.onthejob.ng/" class="text-dark no-underline text-sm block my-0 w-max mr-auto">
                    <p>Privacy Policy</p>
                  </a>
                </div>
              </td>
            </tr>
            <tr class="bg-[#0B87491A]">
              <td class="text-center text-slate-600 text-sm px-6">


                <p class="m-0 py-5 font-[500] text-[#5E5E5E]">
                  Copyright @ <a href="https://apps.onthejob.ng/"
                    class="text-underline text-[#0B8749] my-0 w-max mx-auto">
                    onthejob.ng</a>. All rights reserved.
                </p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
