---
title: "Request Application Returned."
preheader: "Your recent application for a laptop has been completed"
bodyClass: bg-white
---

<x-main>
  <div class="font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-8 mb-0  text-center">
            <a href="https://nexascale-asset.web.app/">
              <img src="images/logo.jpg" width="140" alt="Maizzle">
            </a>
          </div>

          <table class="w-full ">
            <tr>
              <td class="p-5 sm:px-6 text-base text-slate-700  rounded shadow-sm">
                <div class="my-12  sm:my-8 mt-5 mb-5 text-center bg-primary py-5">
                  <a href="https://nexascale-asset.web.app/">
                    <img src="images/illustration.png"  alt="Maizzle">
                  </a>

                  <h1 class="my-10 mb-5 text-2xl sm:leading-8 text-black font-semibold font-euclid">
                    You’ve got a mail!!
                  </h1>
                </div>
                <div class="sm:my-8 text-center">

                  <h1 class="my-4 mb-8 text-lg sm:leading-8 text-black font-semibold">
                    Asset Returned
                  </h1>
                </div>


                <p class="m-0 leading-6 text-neutral">
                  Hello (*insert name)             <br>
                  <br>
                  Your recent application for a laptop has been returned. <br> <br>

                  Have any questions so far? Visit   <a href="http://Nexascale.org" class="text-[#1953E9]">
                    <span>                  nexascale.org
                    </span>
                  </a>  &nbsp;  or &nbsp; <a href="https://twitter.com/NexaScaleHQ" class="text-[#1953E9]">
                    <span>                 contact us
                    </span>
                  </a>

                <x-spacer height="4px" />



                <x-divider space-y="42px" class="bg-slate-200" />


                 <div class="my-12  sm:my-8 mt-5 mb-0 md:mb-0 text-center md:py-0 py-0">
                  <div class="flex items-center justify-center gap-8">
                    <a href="https://nexascale-asset.web.app/">
                      <img src="images/unnamed.png"  alt="Nexascale" class="w-5 h-5">
                    </a>
                    <a href="https://nexascale-asset.web.app/">
                      <img src="images/instagram.png"  alt="Nexascale" class="w-5 h-5">
                    </a>
                    <a href="https://nexascale-asset.web.app/">
                      <img src="images/facebook.png"  alt="Nexascale" class="w-5 h-5">
                    </a>
                    <a href="https://nexascale-asset.web.app/">
                      <img src="images/mail.png"  alt="Nexascale">
                    </a>
                  </div>

                  <a href="https://nexascale-asset.web.app/" class="text-dark no-underline text-sm block my-5 w-max mx-auto">
                  <p>  Terms & Conditions</p>
                  </a>
                  <a href="https://nexascale-asset.web.app/" class="text-dark no-underline text-sm block my-0 w-max mx-auto">
                  <p>Privacy Policy</p>
                  </a>
                </div>
              </td>
            </tr>
            <tr class="bg-primary">
              <td class="text-center text-slate-600 text-sm px-6">


                <p class="m-0 py-5 font-semibold text-dark">
                  Copyright @ NexaScale. All rights reserved
                </p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
